.centered-text {
    text-align: center;
}

.calendar {
    text-align: center;
}

.field {
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 992px) {
  .calendar {
    font-size: 1.2em;
  }
  .field {
      width: 100%;
  }

  #accounts {
      font-size: 0.8em;
}

