.table#accounts {
    margin-bottom: 0;
}

.nav {
    background-color: #e7e7e7;
}

.nav>li>a {
    padding-right: 5px;
    padding-left: 5px;
}

.form {
    padding: 30px 0;
}

.calendar {
    text-align: center;
}

.field {
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}

.unvisible {
    display: none;
}

.filter .checkbox-inline+.checkbox-inline {
    margin-left: 0;
}

@media(max-width: 992px) {
  .calendar {
    font-size: 1.2em;
  }
  .field {
      width: 100%;
  }

  .nav {
      font-size: 0.6em;
  }

  #accounts {
      font-size: 0.8em;
}

