{% extends "base.html" %}
{% block spending_tab %}class="active"{% endblock %}
{% block form %}
<section class='container'>
<div class="calendar col-md-3 col-md-offset-3"></div>
<div class='col-md-3'>
  <form method="post">{% csrf_token %}
    {% load widget_tweaks %}
    {{ form.non_field_errors }}
    <div class="form-group field hidden">
      {{ form.date.errors }}
      {{ form.date|add_class:"form-control" }}
    </div>
    <div class="form-group field">
      {{ form.money.errors }}
      {{ form.money|add_class:"form-control"|append_attr:"placeholder: Сумма" }}
    </div>
    <div class="form-group field">
      {{ form.comment.errors }}
      {{ form.comment|add_class:"form-control"|append_attr:"placeholder: Комментарий" }}
    </div>
    <div class="form-group field">
      {{ form.owner.errors }}
      {{ form.owner|add_class:"form-control" }}
    </div>
    <div class="form-group field">
      {{ form.spendingType.errors }}
      {{ form.spendingType|add_class:"form-control" }}
    </div>
    <div class="form-group field">
      {{ form.incomeType.errors }}
      {{ form.incomeType|add_class:"form-control" }}
    </div>
    <div class="field">
      <input type="submit" value="Сохранить" class="btn btn-default pull-right" />
    </div>
  </form>
</div>
</section>
{% endblock %}
{% block data %}
<section class="container-fluid">
{% if latest_spending_list %}
  <table class="table table-striped">
  {% for spending in latest_spending_list %}
    <tr>
      <td>{{ spending.date }}</td>
      <td>{{ spending.owner }}</td>
      <td>{{ spending.spendingType }}</td>
      <td><a href='/{{ spending.pk }}/'>{{ spending.money }}</a></td>
      <td>{{ spending.comment }}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>Нет записей</p>
{% endif %}
</section>
{% endblock %}
