<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/js/table_bg_change_on_sign.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="/static/css/style.css" rel="stylesheet" />
  {{ form.media }}
  {% block title %}{% endblock %}
</head>
<body>
<header>
<table class='table table-bordered centered-text' id='accounts'>
  {% for a in account_list %}
  <th class='centered-text'>{{ a.name }}</th>
  {% endfor %}
  <tr>
    {% for a in account_list %}
      <td>{{ a.money }}</td>
    {% endfor %}
  </tr>
</table>
<div id="navigation">
  <div id="menu">
    <a {% block spending_tab %}{% endblock %}href='/'>Траты</a
    ><a {% block income_tab %}{% endblock %}href='/income/'>Доходы</a
    ><a {% block transfer_tab %}{% endblock %}href='/transfer/'>Переводы</a
    ><a {% block analize_tab %}{% endblock %}href='/analytics/'>Анализ</a
    ><a {% block debt_tab %}{% endblock %}href='/debt/'>Долги</a
    ><a href='/admin/'>Admin</a>
  </div>
  <div id="logout">
    <a href='/accounts/logout/?next=/{% block logout %}{% endblock %}'>Выйти</a>({{ username }})
  </div>
</div>
</header>
<div id="content">
  {% block content %}{% endblock %}
</div>
</body>
</html>
